@using User.Application.Contract;
@model CreateUserViewModel;

<div class="content-body">

    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">

        <div class="add-edit-product-wrap col-12">

            <div class="add-edit-product-form">
                <form method="post" asp-action="CreateUser">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h4 class="title">افزودن کاربر</h4>

                    <div class="row">
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="FullName" type="text" placeholder="نام و نام خانوداگی" required></div>
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="Username" type="text" placeholder="نام کاربری" required></div>
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="Code" type="text" placeholder="کدملی" required></div>
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="Phone" type="text" placeholder="شماره همراه" required></div>
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="Password" type="password" placeholder="رمز عبور" required></div>
                        <div class="col-lg-6 col-12 mb-30"><input class="form-control" asp-for="RePassword" type="password" placeholder="رمز عبور تکرار" required></div>
                        <div class="col-lg-6 col-12 mb-30">
                            @(await Component.InvokeAsync("RoleList"))
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex flex-wrap justify-content-end col mbn-10">
                            <button class="button button-outline button-primary mb-10 ml-10 mr-0">ذخیره و انتشار</button>
                        </div>
                    </div><!-- Button Group End -->

                </form>
            </div>

        </div><!-- Add or Edit Product End -->
    </div>
</div>

