<div class="content-body" style="margin:auto;">
    <div class="row justify-content-between align-items-center mb-10">

        <div class="add-edit-product-wrap col-12">

            <div class="add-edit-product-form">
                <form asp-action="CreateOrder" method="post">

                    <div class="row">
                        <div class="col-lg-6 col-12 mb-30">
                            <select id="servicelist" asp-items="ViewBag.Requests" name="RequestId" class="form-control select2">
                                <option value="0">انتخاب درخواست کننده</option>
                            </select>
                        </div>
                        
                       
                        <div class="col-lg-6 col-12 mb-30">
                            <button type="submit" class="btn btn-primary">مرحله ی بعد</button>
                        </div>
                    </div>

                </form>
            </div>

        </div><!-- Add or Edit Product End -->
    </div>
</div>


@*<script src="~/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script>
    $("#servicelist").change(function(){
           var MaterialId = $("#servicelist option:selected").val()
          $.ajax({
               type: 'POST',
               url : '@Url.Action("MaterialDate","Order")',
               data : {"MaterialId":MaterialId},
               dataType : 'json',
                headers: { "RequestVerificationToken": MaterialId },
               success : function(response){
                    $("#datelist option").remove()
                    $("#datelist").append(`<option value="0">انتخاب سال</option>`);
                      $(response).each(function () {
                   var value = `<option value="${this.creationDate}"$>${this.creationDateString}</option>`;
                   $("#datelist").append(value)
               })
               }
           })
      })

</script>*@